JWT_SECRET = "JWT_SECRET"
NEXT_PUBLIC_DATABASE_URL = "postgresql://username:password@localhost:5432/postgres"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY = "NEXT_PUBLIC_GOOGLE_MAPS_API_KEY"
NEXT_PUBLIC_AUTH_URL = http://www.example.com
NEXT_PUBLIC_AUTH_SECRET =  "NEXT_PUBLIC_AUTH_SECRET"
