@import 'tailwindcss';

@source "./";

@theme {
  --color-white-50: #fcfcfc;
  --color-primary: #13b5eb;
  --color-secondary: #f38128;
  --color-secondaryL: #ec821d;
}

@layer utilities {
  .text_link {
    @apply text-blue-500 cursor-pointer hover:underline hover:decoration-blue-500 hover:underline-offset-1;
  }

  @keyframes drive {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - var(--bike-w));
    }
  }

  .animate-drive {
    animation: drive 1.5s linear infinite;
  }
}
